<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        {% feed_meta %}
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Alex Palcuie<br />
                Responsabil tehnic de <a href="https://data.gov.ro/">data.gov.ro</a> @ <a href="https://www.facebook.com/OnlineGovRo">DSOD</a><br />
                alexandru [dot] palcuie [at] gov [dot] ro
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://blog.palcu.ro">blog.palcu.ro</a><br />
                <a href="https://facebook.com/palcuiealex">facebook.com/palcuiealex</a><br />
                <a href="https://twitter.com/alexpalcuie">twitter.com/alexpalcuie</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
